<div *ngIf="!lawnType">
  <button (click)="lawnType = 'manual'">Manual Run</button>
  or
  <input type='file' (change)="selectFile($event)">
</div>

<div *ngIf="lawnType === 'manual' && !createLawnIsClicked">
  <label>Create Lawn:</label> <br>
  <input #x type="text" placeholder="x" value="5" size="5">
  <input #y type="text" placeholder="y" value="5" size="5">
  <button (click)="createLawn(x.value, y.value)">Go</button>
</div>

<div *ngIf="createLawnIsClicked">
  <app-lawn [lawn]="lawn" [readFromFile]="lawnType === 'file'" [mowerData]="lawnMowerData"></app-lawn>
</div>
